.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 50px;
}

.main-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-title::after {
  content: '';
  display: block;
  width: 90%;
  height: 1px;
  background-color: rgb(9, 170, 207);
}

.search-bar-wrapper {
    display: flex;
    gap: 30px
}

.search-bar {
  min-width: 270px;
  padding: 15px 20px;
  border-radius: 15px;
  border: 1px solid rgb(9, 170, 207);
  transition: border 0.3s ease-in-out;
}

.search-bar:focus {
  border: 4px solid rgb(9, 170, 207);
  outline: none;
}
